<comp-header></comp-header>
<router-outlet></router-outlet>
<div class="banner">
  <div class="banner">
    <h2>
      ¡Es hora de aprender de forma divertida!
    </h2>
  </div>
</div>
<div class="content">
  <section class="section-presentation">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus enim
        fugiat accusamus voluptatum autem fugit, neque beatae eveniet voluptas
        doloribus commodi quod vitae sunt veniam. Explicabo velit quasi vero
        molestiae!
      </p>
      <input
        type="button"
        class="submit-button"
        value="¡Registra tu colegio aquí!"
        (click)="goRegister()"
      />
    </div>
    <div class="picture img-two"></div>
  </section>
  <section class="section-acknownledgement">
    <div class="picture img-one" src=""></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ratione
      est quaerat quam nihil molestias, odio delectus a fugit recusandae at,
      quo, error distinctio quis ea incidunt praesentium amet obcaecati.
    </p>
  </section>
  <section class="section-greetings">
    <img src="../../../favicon.ico" alt="" />
    <img src="../../../favicon.ico" alt="" />
    <img src="../../../favicon.ico" alt="" />
  </section>
</div>
<footer class="footer">
  <ul>
    <li><img src="../../../favicon.ico" alt="" /></li>
    <li><img src="../../../favicon.ico" alt="" /></li>
    <li><img src="../../../favicon.ico" alt="" /></li>
    <li><img src="../../../favicon.ico" alt="" /></li>
    <li><img src="../../../favicon.ico" alt="" /></li>
  </ul>
  <p>Desarrollado Por Nuvisoft</p>
  <div class="lang-container">
    <label for="lang">Lenguaje: </label>
    <select name="lang">
      <option label="Inglés"></option>
      <option label="Español"></option>
    </select>
  </div>
</footer>
