.navigation-tab {
  width: 90%;
  border-bottom: 1px solid black;
  margin-top: 50px;
  margin-left: 30px;
}

.menu-list {
  list-style: none;
  display: flex;
}

.option {
  margin-right: 20px;
  /* font-size: medium; */
  font-weight: bold;
  height: 30px;
}

.option:hover {
  background-color: darkgray;
  cursor: pointer;
}
