<div class="navigation-tab">
  <pgch-navigation>
  </pgch-navigation>
</div>

<div class="container">
  <div class="info-container">
    <p>
      {{ infoText }}
    </p>
    <button class="creator-button">{{ buttonName }}</button>
    <img
      class="presentation-image"
      src="../../../../assets/img/vectorial-image-study.jpg"
    />
  </div>
  <div class="list-container">
    <h3>{{ title }}</h3>
    <ul class="list-elements">
      <li class="element">
        <img src="../../../../favicon.ico" />
        <span>
          <p>name</p>
          <!-- <p>detail</p> -->
        </span>
      </li>
      <li class="element">
        <img src="../../../../favicon.ico" />
        <span>
          <p>name</p>
          <!-- <p>detail</p> -->
        </span>
      </li>
      <li class="element">
        <img src="../../../../favicon.ico" />
        <span>
          <p>name</p>
          <!-- <p>detail</p> -->
        </span>
      </li>
      <li class="element">
        <img src="../../../../favicon.ico" />
        <span>
          <p>name</p>
          <!-- <p>detail</p> -->
        </span>
      </li>
      <li class="element">
        <img src="../../../../favicon.ico" />
        <span>
          <p>name</p>
          <!-- <p>detail</p> -->
        </span>
      </li>
    </ul>
  </div>
</div>
