<h2>Get your Membership Today!</h2>
<div class="container-membership">
  <div class="card">
    <h2>Membership Title</h2>
    <h1>{{ 29.99 | currency }}</h1>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium vel
      distinctio ipsa voluptate mollitia molestias corrupti rerum vero
      cupiditate sit, quibusdam quam dignissimos? Ab a culpa omnis in esse odio?
    </p>
    <button class="payment-button">Buy</button>
  </div>
  <div class="card">
    <h2>Membership Title</h2>
    <h1>{{ 49.99 | currency }}</h1>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium vel
      distinctio ipsa voluptate mollitia molestias corrupti rerum vero
      cupiditate sit, quibusdam quam dignissimos? Ab a culpa omnis in esse odio?
    </p>
    <button class="payment-button">Buy</button>
  </div>
  <div class="card">
    <h2>Membership Title</h2>
    <h1>{{ 79.99 | currency }}</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium vel
      distinctio ipsa voluptate mollitia molestias corrupti rerum vero
      cupiditate sit, quibusdam quam dignissimos? Ab a culpa omnis in esse odio?
    </p>
    <button class="payment-button">Buy</button>
  </div>
</div>
