.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3px;
  /* border-bottom: 1px solid black; */
  height: 30px;
  margin-block: auto;

}

.detail-sidebar {
  width: 250px;
}

.fit-sidebar {
  display: flex;
  width: 100px;
}

.content {
  width: 400px;
}

.categories-list {
  padding: 0px;
  list-style: none;
}

.category {
  padding-block: 10px;
  border-bottom: 1px solid darkgray;
  width: 130px;
  /* text-align: center; */
  text-indent: 5px;
}

.category:hover{
  background-color:whitesmoke ;
  cursor: pointer;
}

.detail-sidebar, .fit-sidebar {
  background-color: rgb(190, 188, 184);
  height: 100%;
}
